# Gateway Service
PORT=8080

# PostgreSQL Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=animoji
DATABASE_URL=postgres://postgres:postgres@postgres:5432/animoji?sslmode=disable

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@animoji.com
PGADMIN_DEFAULT_PASSWORD=admin

# MinIO Configuration
MINIO_ENDPOINT=minio:9000
MINIO_PUBLIC_URL=http://localhost:9002
NGINX_PUBLIC_PORT=9002
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
NATS_URL=nats://nats:4222
API_URL=http://localhost:8080